@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #eeeeee;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow: hidden;
	color: #eee;
}

.container {
	background-color: #00adb5;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.password-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.password-display {
	background-color: #aad8d3;
	color: #393e46;
	padding: 1rem;
	border: 1px solid #333;
	height: 2rem;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-all;
	border-radius: 0.5rem;
}

.clipboard-button {
	position: relative;
	display: block;
	background-color: transparent;
	border: 2px solid #eee;
	border-radius: 0.5rem;
	color: #eee;
	font-size: 2rem;
	cursor: pointer;
	padding: 0.5rem;
	margin-left: 5px;
}

#passwordGeneratorForm {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center;
	row-gap: 1rem;
	-moz-column-gap: 2.5rem;
	column-gap: 2.5rem;
}

.title {
	margin: 0;
	text-align: center;
}

label {
	font-weight: 500;
	letter-spacing: 0.5px;
}

.char-amount-container {
	display: flex;
	align-items: center;
}

.number-input {
	width: 2.5rem;
}

.btn {
	grid-column: span 2;
	background-color: transparent;
	border: 2px solid #eee;
	border-radius: 0.5rem;
	color: #eee;
	padding: 0.5rem 1rem;
	font-weight: 500;
	cursor: pointer;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.4);
	color: #393e46;
}

.tooltip {
	display: none;
	position: absolute;
	top: 26px;
	right: 24px;
	background: #393e46;
	color: #eee;
	font-size: 0.8rem;
	text-align: center;
	width: 8ch;
	padding: 0.5rem 0.5rem;
	border-radius: 6px;
	z-index: 99;
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.tooltip.show {
	opacity: 1;
}

.block {
	display: block;
}
